# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
*.ipynb~
*.jupyter/desktop-workspaces

# Данные и конфигурации
.env
*.db
*.sqlite
*.csv
*.xlsx
*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#Backups
ticket_market_backup.ipynb
ticket_market_wp.ipynb